breast_cancer_data:
  name: breast_cancer
  input_file:
    name: breast-cancer-wisconsin-data.csv
    path: /workspaces/demo-repo/data
    id_col: id
    drop_cols:
      - 'unnamed:_32'
    drop_nulls:
      - diagnosis
  target: diagnosis
  # transform:
  #   perimeter_mean: MinMaxScaler
  #   area_mean: MinMaxScaler
  models:
    LogisticRegression:
      params:
        C: 10
        class_weight: balanced
        penalty: l1
        max_iter: 2000
        random_state: 42
        solver: liblinear
      cv:
        penalty:
          - l2
          - l1
        C:
          - 0.01
          - 0.1
          - 1
          - 10
        solver:
          - liblinear
          - lbfgs
          - saga
        max_iter:
          - 2000
          - 5000
          - 10000
        class_weight:
          - balanced
          - None
        random_state:
          - 42
#     SVC: none
diabetes:
  name: diabetes
  input_file:
    name: diabetes.csv
    path: /workspaces/demo-repo/data
    drop_nulls:
      - outcome
  target: outcome
  transform:
    glucose: MinMaxScaler
    age: log
  models:
    LogisticRegression:
      params:
        C: 1
        class_weight: balanced
        penalty: l1
        max_iter: 2000
        random_state: 42
        solver: liblinear
      cv:
        penalty:
          - l2
          - l1
        C:
          - 0.01
          - 0.1
          - 1
          - 10
        solver:
          - liblinear
          - lbfgs
          - saga
        max_iter:
          - 2000
          - 5000
          - 10000
        class_weight:
          - balanced
          - None
        random_state:
          - 42
transfusion:
  name: transfusion
  input_file:
    name: transfusion.csv
    path: /workspaces/demo-repo/data
    rename_cols:
      "recency (months)": recency
      "frequency (times)": recency
      "monetary (c.c. blood)": monetary
      "time (months)": time
      "whether he/she donated blood in march 2007": donated_mar_2007
    drop_nulls:
      - donated_mar_2007
  target: donated_mar_2007
  models:
    RandomForestClassifier:
      params:
        n_estimators: 50
        bootstrap: True
        class_weight: balanced_subsample
        max_depth: 20
        max_features: 10
        random_state: 42
      cv:
        n_estimators:
          - 50
          - 100
          - 200
        criterion:
          - gini
        max_depth:
          - 10
          - 20
          - 30
        max_features:
          - 10
        bootstrap:
          - True
          - False
        class_weight:
          - balanced
          - balanced_subsample
        random_state:
          - 42
